body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 48px;
}
.vote{
 margin-left: 10px;
}

.marketing h4 label{
	padding-left: 20px;
}